.care__container{
  padding-top: 32px;
  row-gap: 32px;
}

.care__img{
  width: 270px;
  filter: drop-shadow(var(--shadow-img));
  justify-self: center;
}

.care__list{
  display: grid;
  row-gap: 16px;
}

.care__item{
  display: flex;
  column-gap: 8px;
  align-items: flex-start;

  i {
    font-size: 24px;
    color: var(--first-color);
  }
}
