.contact__container{
  padding-top: 32px;
  row-gap: 32px;
}

.contact__img{
  width: 270px;
  filter: drop-shadow(var(--shadow-img));
  justify-self: center;
}

.contact__content{
  display: grid;
  row-gap: 32px;
  text-align: center;
}

.contact__title{
  font-size: var(--h2-font-size);
  margin-bottom: 8px;
}

.contact__social{
  display: flex;
  justify-content: center;
  column-gap: 12px;

  & a{
    color: var(--first-color);
    font-size: 24px;
  }
}

.contact__info{
  font-style: normal;
}