.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-color: transparent;
  z-index: var(--z-fixed);
}

.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__close,
.nav__toggle,
.nav__actions{
  display: flex;
  color: var(--title-color);
  cursor: pointer;
}

.nav__logo{
  font-weight: var(--font-semi-bold);
  column-gap: 4px;
  align-items: center;
}

.nav__logo i{
  color: var(--first-color);
  font-size: 20px;
  font-weight: initial;
}

.nav__actions{
  font-size: 20px;
  column-gap: 8px;
  align-items: center;
}

@media screen and (max-width: 1150px) {
  .nav__menu{
    position: fixed;
    top: 0;
    right: 0;
    background-color: hsl(228, 24%, 6%, .2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 96px 48px 0;
    transition: right .4s;
  }
}
