.shop__container{
  padding-top: 104px;
  grid-template-columns: repeat(2, 1fr);
  gap: 96px 24px;
}

.shop__card{
  position: relative;
  background: var(--gradient-card);
  padding: 92px 12px 20px 12px;
  border: 2px solid var(--first-color-light);
  border-radius: 16px;

  &:hover .shop__img{
    transform: translateY(-8px);
  }
}

.shop__img{
  position: absolute;
  top: -72px;
  left: 0;
  right: 0;
  width: 130px;
  margin: 0 auto;
  transition: transform .4s;
}

.shop__title{
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 8px;
}

.shop__price{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.shop__button{
  position: absolute;
  right: 12px;
  bottom: 12px;
  outline: none;
  border: none;
  background-color: var(--white-color);
  padding: 6px;
  border-radius: 50%;
  font-size: 20px;
  display: grid;
  cursor: pointer;
}