@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --header-height: 56px;
  --first-color: #83c94a;
  --first-color-alt: #74b83d;
  --first-color-light: #a3db76;
  --title-color: #f9fafa;
  --text-color: #acafb9;
  --white-color: #f9fafa;
  --black-color: #0a0a0b;
  --body-color: #131416;
  --container-color: #1d1d20;
  --shadow-img: 0 0 48px #83c94a66;
  --gradient-card: linear-gradient(180deg,
                                #141613,
                                #496b2e);
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 36px;
  --h1-font-size: 24px;
  --h2-font-size: 20px;
  --h3-font-size: 16px;
  --normal-font-size: 15px
  --small-font-size: 13px;
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 68px;
    --h1-font-size: 36px;
    --h2-font-size: 24px;
    --h3-font-size: 20px;
    --normal-font-size: 16px;
    --small-font-size: 14px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul, ul li {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1120px;
  margin-inline: 24px;
}

.grid {
  display: grid;
  gap: 24px;
}

.section {
  padding-block: 80px 16px;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  text-align: center;
  margin-bottom: 16px;
}

.main {
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-color: transparent;
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__close,
.nav__toggle,
.nav__actions {
  display: flex;
  color: var(--title-color);
  cursor: pointer;
}

.nav__logo {
  font-weight: var(--font-semi-bold);
  -moz-column-gap: 4px;
       column-gap: 4px;
  align-items: center;
}

.nav__logo i {
  color: var(--first-color);
  font-size: 20px;
  font-weight: initial;
}

.nav__actions {
  font-size: 20px;
  -moz-column-gap: 8px;
       column-gap: 8px;
  align-items: center;
}

@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: rgba(12, 13, 19, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 96px 48px 0;
    transition: right 0.4s;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}
.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 18px;
  right: 24px;
  font-size: 20px;
}

.show-menu {
  right: 0;
}

.blur-header::after {
  content: "";
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsla(228, 24%, 6%, 0.2);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  -webkit-backdrop--filter: blur(16px);
  top: 0;
  left: 0;
  z-index: -1;
}

.home__container {
  padding-top: 40px;
  row-gap: 32px;
}

.home__img {
  width: 270px;
  filter: drop-shadow(var(--shadow-img));
  justify-self: center;
}

.home__data {
  text-align: center;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 16px;
}
.home__title span {
  color: var(--first-color);
}

.home__description {
  margin-bottom: 48px;
}

.home__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}

.button {
  background-color: var(--white-color);
  color: var(--black-color);
  font-weight: var(--font-bold);
  padding: 8px 24px 8px 8px;
  border-radius: 64px;
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.button span {
  background-color: var(--first-color);
  padding: 8px;
  font-size: 20px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: transform 0.4s;
}
.button:hover span {
  transform: translateX(2.4px) rotate(-30deg);
}

.button__link {
  color: var(--white-color);
  font-weight: var(--font-bold);
  text-decoration: underline;
  transition: color 0.4s;
}
.button__link:hover {
  color: var(--first-color);
}

.new__data {
  text-align: center;
}

.new__container {
  row-gap: 120px;
}

.new__content {
  row-gap: 96px;
}

.new__card {
  position: relative;
  width: 200px;
  background: var(--gradient-card);
  padding: 144px 12px 24px 12px;
  border: 2px solid var(--first-color-light);
  border-radius: 24px;
}
.new__card:nth-child(odd) {
  rotate: -5deg;
}
.new__card:nth-child(even) {
  justify-self: flex-end;
  rotate: 5deg;
}
.new__card:hover .new__img {
  transform: translateY(-8px);
}

.new__img {
  position: absolute;
  top: -72px;
  left: 0;
  right: 0;
  width: 180px;
  margin: 0 auto;
  transition: transform 0.4s;
}

.new__title {
  font-size: var(--h2-font-size);
  text-align: center;
}

.shop__container {
  padding-top: 104px;
  grid-template-columns: repeat(2, 1fr);
  gap: 96px 24px;
}

.shop__card {
  position: relative;
  background: var(--gradient-card);
  padding: 92px 12px 20px 12px;
  border: 2px solid var(--first-color-light);
  border-radius: 16px;
}
.shop__card:hover .shop__img {
  transform: translateY(-8px);
}

.shop__img {
  position: absolute;
  top: -72px;
  left: 0;
  right: 0;
  width: 130px;
  margin: 0 auto;
  transition: transform 0.4s;
}

.shop__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 8px;
}

.shop__price {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.shop__button {
  position: absolute;
  right: 12px;
  bottom: 12px;
  outline: none;
  border: none;
  background-color: var(--white-color);
  padding: 6px;
  border-radius: 50%;
  font-size: 20px;
  display: grid;
  cursor: pointer;
}

.care__container {
  padding-top: 32px;
  row-gap: 32px;
}

.care__img {
  width: 270px;
  filter: drop-shadow(var(--shadow-img));
  justify-self: center;
}

.care__list {
  display: grid;
  row-gap: 16px;
}

.care__item {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  align-items: flex-start;
}
.care__item i {
  font-size: 24px;
  color: var(--first-color);
}

.contact__container {
  padding-top: 32px;
  row-gap: 32px;
}

.contact__img {
  width: 270px;
  filter: drop-shadow(var(--shadow-img));
  justify-self: center;
}

.contact__content {
  display: grid;
  row-gap: 32px;
  text-align: center;
}

.contact__title {
  font-size: var(--h2-font-size);
  margin-bottom: 8px;
}

.contact__social {
  display: flex;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.contact__social a {
  color: var(--first-color);
  font-size: 24px;
}

.contact__info {
  font-style: normal;
}

.footer {
  padding-block: 64px 32px;
}

.footer__container {
  row-gap: 64px;
}

.footer__logo {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 12px;
}
.footer__logo i {
  color: var(--first-color);
  font-size: 24px;
  font-weight: initial;
}

.footer__content {
  grid-template-columns: repeat(2, max-content);
  gap: 64px 48px;
}

.footer__title {
  font-size: var(--normal-font-size);
  margin-bottom: 16px;
}

.footer__links {
  display: grid;
  row-gap: 12px;
}

.footer__link {
  color: var(--text-color);
  transition: color 0.4s;
}
.footer__link:hover {
  color: var(--first-color);
}

.footer__social {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}

.footer__social-link {
  color: var(--text-color);
  font-size: 24px;
  transition: color 0.4s;
}
.footer__social-link:hover {
  color: var(--first-color);
}

.footer__copy {
  display: block;
  margin-top: 96px;
  text-align: center;
  font-size: var(--small-font-size);
}

::-webkit-scrollbar {
  width: 10px;
  border-color: hsl(228, 4%, 15%);
}

::-webkit-scrollbar-thumb {
  border-color: hsl(228, 4%, 25%);
}

::-webkit-scrollbar-thumb:hover {
  border-color: hsl(228, 4%, 35%);
}

.scrollup {
  position: fixed;
  right: 16px;
  bottom: -50%;
  background-color: var(--container-color);
  color: var(--title-color);
  box-shadow: 0 12px 24px hsla(228, 48%, 4%, 0.5);
  display: inline-flex;
  padding: 6px;
  font-size: 20px;
  z-index: var(--z-tooltip);
  transition: bottom 0.4s, transform 0.4s;
}
.scrollup:hover {
  transform: translateY(-8px);
}

.show-scroll {
  bottom: 48px;
}

.active__link {
  color: var(--first-color);
}/*# sourceMappingURL=main.css.map */